body { 
    padding-top: 80px; 
    height: 100%;
}

td {
	background-color: #79d9ce;
    border: 1px solid #202222;
    width: 20px;
    height: 20px;
}

.key {
	border: 1px solid #085047;
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

ul {
	list-style-type: none;
}

.btn-space {
	margin-right: 5px;
}

#update {
	margin-bottom: 15px; 
	margin-top: 10px;
}

.wall {
	transition : background-color 0.1s ease-in-out;
	background-color: #262b28;
	border-color: #262b28;
}

.none {
	transition : background-color 0.1s ease-in-out;
	background-color: rgb(87, 166, 219);
	border-color: #2c0a8a;
}

.searching {
	transition : background-color 0.08s ease-in-out;
	background-color: #2d1064;
	border-color: #321c6d;
}

.visited {
	transition : background-color 0.08s ease-in-out;
	background-color: #e89440;
	border-color: #e89440;
}

.success {
	transition : background-color 0.08s ease-in-out;
	background-color: #ffee31;
	border-color: #ffee31;
}

.start {
	background-color: green;
	border-color: green;
}

.end {
	background-color: red;
	border-color: red;
}

#bigTableContainer {
	margin-top: 30px;
}

.custom-section {
	margin-bottom: 20px;
}

#modalTitleContainer {
	padding-top: 10px;
}

#results {
	height: 87px;
	width: 120px;
	background-color: #ffc107;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: white;
	font-size: 12px;
	text-align: center;
	border: 1px dashed black;
}

#resultsIcon {
	margin-bottom: 3px;
	margin-top: 7px;
	font-size: 16px;
}

#duration, #length {
	padding: 3px;
}

#infoModalBtn {
	margin-left: 20px;
}

.fun-fact {
	color: darkgreen;
}